<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #memoryForm="ngForm" (ngSubmit)="onSubmit(memoryForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="memoryService.selectedMemory._id">
              <div class="row">
                <div class="input-field col s12">
                  <label>
                    <input type="text" name="author" #author="ngModel" [(ngModel)]="memoryService.selectedMemory.author" placeholder="Author">
                  </label>
                  <label>Author :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label>
                    <input type="text" name="title" #title="ngModel" [(ngModel)]="memoryService.selectedMemory.title" placeholder="Title">
                  </label>
                  <label>Title :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <label>
                    <input type="text" name="text" #text="ngModel" [(ngModel)]="memoryService.selectedMemory.text" placeholder="Your text">
                  </label>
                  <label>Text :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(memoryForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!memoryForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
            <table class="responsive-table highlight">
              <thead>
              <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Text</th>
                <th></th>
              </tr>
              </thead>
              <tr *ngFor="let mem of memoryService.memories">
                <td>{{mem.author}}</td>
                <td>{{mem.title}}</td>
                <td>{{mem.text}}</td>
                <td>
                  <a class="action-btn" (click)="onEdit(mem)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="action-btn" (click)="onDelete(mem._id,memoryForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
